/* #region Common */
:root
{
  --tobo-dark: #051831FF;
  --tobo-light: #D3D6DB;
  --tobo-page-bg: #f6f8f9FF;
  --tobo-ligher: #ffffffFF;
  --tobo-primary: #46ADF0;
  --tobo-goals-tag-bg: #9c73e5FF;
  --tobo-recruiting-tag-bg: #64C1A8;
  --tobo-sales-tag-bg: #B0C926;
  --tobo-mobile-tag-bg: #ed5f54FF;
  --tobo-website-tag-bg: #D963A0;
  --tobo-danger: #ED5F54;

}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: var(--tobo-page-bg);
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
li{
  margin-bottom: 1rem;
}
section {
  margin-bottom: 2rem;
}
/* #endregion Common */

/* #region Utilities */
.mb-2{
  margin-bottom: 2rem;
}
.container
{
  width: 80%;
  margin: auto;
}

.card
{
  background-color: var(--tobo-ligher);
  margin: 2rem 0;
  border-radius: 1.25rem;
  box-shadow: 0 0 10px var(--tobo-light);
}

.btn
{
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: transparent;
  border: none;
}

.btn-primary
{
  background-color: var(--tobo-primary);
  border: 1px solid var(--tobo-primary);
  color: var(--tobo-ligher);
}

.btn-outline
{
  border: 1px solid var(--tobo-light);
  color: var(--tobo-light);
}
.circle
{
  display: inline-block;
  aspect-ratio: 1;
  width: 1.25rem;
  border-radius: 50%;
  text-align: center;
  font-size: 0.9rem;
}
.cross {  
  border: 1px solid var(--tobo-danger);
  color: var(--tobo-danger);
}

.check
{
  border: 1px solid var(--tobo-recruiting-tag-bg);
  color: var(--tobo-recruiting-tag-bg);
}
.tag {
  font-size: 0.7rem;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  color: var(--tobo-ligher)
}

.editorial {
  background-color: var(--tobo-primary);
}
.recruiting
{
  background-color: var(--tobo-recruiting-tag-bg);
}
.website
{
  background-color: var(--tobo-website-tag-bg);
}
.goals
{
  background-color: var(--tobo-goals-tag-bg);
}
.sales
{
  background-color: var(--tobo-sales-tag-bg);
}
.mobile
{
  background-color: var(--tobo-mobile-tag-bg);
}
/* #endregion Utilities */

/* #region Header */

#site_header
{
  background-color: var(--tobo-ligher);
  box-shadow: 0 0 5px var(--tobo-light);
  padding: 0.5rem 1rem;
}

.logo_img
{
  vertical-align: middle;
}

.logo_text
{
  font-size: 2rem;
  vertical-align: middle;
}

/* #endregion Header */

/* #region Main */
.top
{
  padding: 1rem 2rem;
  border-bottom: 4px solid var(--tobo-page-bg);
}

.bottom
{
  padding: 1rem 2rem;
}
/* #endregion Main */