  *
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root
  {
    --bz-blocks-height: 70px;
    --bz-primary: #333;
    --bz-notifications-bg: deepskyblue;
    --bz-secondary: gray;
    --bz-light: lightgray;
    --bz-lighter: white;
  }

  .debug *
  {
    border: 1px dashed black;
  }

  .debug
  {
    .user_profile
    {
      background-color: palevioletred;
    }

    .notifications
    {
      background-color: palegreen;
    }

    .search
    {
      background-color: palegoldenrod;
    }

    .contacts_list
    {
      background-color: paleturquoise;
    }

    .contact_profile
    {
      background-color: palevioletred;
    }

    .chat
    {
      background-color: deepskyblue;

      > div
      {
        width: 300px;
      }
    }

    .prompt
    {
      background-color: deeppink;
    }
  }

  body
  {
    height: 100vh;
    background-color: var(--bz-primary);
    overflow: hidden;
  }

  #app
  {
    height: 95vh;
    margin: 1rem auto 2rem;
    max-width: 1200px;
    display: flex;

    @media (max-width: 991px)
    {
      height: 100%;
      margin: 0;
    }

    .left
    {
      width: 380px;
      height: 100%;

      & > div:not(:nth-child(4))
      {
        height: var(--bz-blocks-height);
      }

      & > :nth-child(4)
      {
        height: calc(100% - (var(--bz-blocks-height) * 3));
        overflow-y: auto;
      }

      .user_profile
      {
        background-color: var(--bz-light);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        > img
        {
          border-radius: 50%;
        }

        .actions
        {
          font-size: 1.5rem;
          color: var(--bz-secondary);

          @media (max-width: 991px)
          {
            display: none;
          }
        }

      }

      .notifications
      {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        align-items: center;
        background-color: var(--bz-notifications-bg);

        > .icon
        {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          aspect-ratio: 1;
          background-color: var(--bz-lighter);
          border-radius: 50%;
          color: var(--bz-notifications-bg);
        }

        & a
        {
          color: var(--bz-secondary);
        }
      }

      .search
      {
        background-color: var(--bz-lighter);
        padding: 1rem;

        .box
        {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          border: 1px solid var(--bz-light);
          padding: 4px;
          border-radius: 0.5rem;

          > i
          {
            font-size: 20px;
            color: var(--bz-light);
          }

          > input
          {
            padding: 0.5rem;
            width: calc(100% - 40px);

            &:focus-visible{
              outline: none;
            }


          }
        }
      }


      .contacts_list {
        > .contact, .meta {
          display: flex;
        }
        > .contact {
          padding: 1rem;
          gap: 1rem;  

          > img {
            border-radius: 50%;
          }
        }

        .meta {
          flex-grow: 1;
          justify-content: space-between;

          @media(max-width:991px){
            display: none;
          }
        }
      
      }





      @media screen and (max-width: 991px)
      {
        width: 120px;

        & > .notifications,
        & > .search
        {
          display: none;
        }

        & > .contacts_list
        {
          height: calc(100% - 70px);
        }
      }

      @media screen and (max-width: 540px)
      {
        display: none;
      }

    }

    .right
    {
      flex-grow: 1;

      > .contact_profile,
      > .prompt
      {
        height: 70px;
      }

      > .chat
      {
        height: calc(100% - 140px);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding: 2rem;

        & > div
        {
          min-height: 140px;
        }

        > .sent
        {
          align-self: flex-end;
        }

        > .received
        {
          align-self: flex-start;
        }

      }

    }

  }