/* #region Common */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px dashed black;
	/* Debug only - REMOVE */
}

:root
{
	--discord-primary: rgba(48, 97, 225, 1);
	--discord-dark: rgba(34, 39, 43, 1);
	--discord-light: rgba(246, 246, 246, 1);
	--discord-lighter: white;
}

.container
{
	width: 80%;
	max-width: 1200px;
	margin: auto;
	height: 100%;
}

.container-small
{

	width: 60%;
	max-width: 900px;
	margin: 2rem auto;
}

.d-flex
{
	display: flex;
}
.justify-content-beetween {
	justify-content: space-between;
}

.col-60
{
	width: 60%;

}

.col-40
{
	width: 40%;
}

/* #endregion Common */

/* #region Debug */

.debug .container-small
{
	height: 300px;
	background-color: green;
}

.debug #site_header
{
	/* height: 100px; */
}

.debug #site_main
{
	/* 	height: 600px; */
}

.debug #site_footer
{
	height: 300px;
}

.debug .jumbotron
{
	height: 450px;
}

.debug .invite_only
{
	height: 350px;
}

.debug .meet
{
	height: 350px;
}

.debug .fandom
{
	height: 350px;
}

.debug .keep_in_touch
{
	height: 450px;
}


.debug .col-60 {
	height: 340px;
}


.debug .col-40 {
	height: 340px;
}
/* #endregion Debug */

/* #region Header */
#site_header
{
	background-color: var(--discord-primary);
}

nav
{
	display: flex;
	align-items: center;
}

.logo
{
	flex-grow: 1;
}

.main_menu
{
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 0.5rem
}

li
{
	padding: 0.25rem 0.75rem;
}

.actions
{
	flex-grow: 1;
	text-align: end;
}

/* #endregion Header */

/* #region main */
#site_main
{
	background-color: var(--discord-light);
}

.jumbotron
{
	background-color: var(--discord-primary);
}

.invite_only
{
	background-color: var(--discord-lighter);
}

.meet
{
	background-color: var(--discord-light);
}

.fandom
{
	background-color: var(--discord-lighter);
}

.keep_in_touch
{
	background-color: var(--discord-light);
}

/* #endregion main */

/* #region footer */
#site_footer
{
	background-color: var(--discord-dark);
	color: var(--discord-lighter);
}

/* #endregion footer */