/* #region Common */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root
{
	--discord-primary: rgba(48, 97, 225, 1);
	--discord-dark: rgba(34, 39, 43, 1);
	--discord-light: rgba(246, 246, 246, 1);
}

.container
{
	width: 80%;
	max-width: 1200px;
	margin: auto;
}

.d-flex
{
	display: flex;
}

/* #endregion Common */

/* #region Debug */

.debug #site_header
{
	/* height: 100px; */
}

.debug #site_main
{
	/* 	height: 600px; */
}

.debug #site_footer
{
	height: 300px;
}

/* #endregion Debug */

/* #region Header */
#site_header
{
	background-color: var(--discord-primary);
}

nav
{
	display: flex;
	align-items: center;
}

.logo
{
	flex-grow: 1;
}

.main_menu
{
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 0.5rem
}

li
{
	padding: 0.25rem 0.75rem;
}

.actions
{
	flex-grow: 1;
	text-align: end;
}

/* #endregion Header */

/* #region main */
#site_main
{
	background-color: var(--discord-light);
}

/* #endregion main */

/* #region footer */
#site_footer
{
	background-color: var(--discord-dark);
}

/* #endregion footer */