:root
{
  --bool-primary: rgba(77, 160, 254, 1);
  --bool-secondary: rgba(179, 231, 242, 1);
  --bool-accent: rgba(254, 255, 2, 1);
  --bool-dark: rgba(1, 0, 1, 1);
  --bool-light: rgba(145, 144, 145, 1);
  --bool-lighter: rgba(255, 255, 255, 1);

}

body
{
  margin: 0;
}

ul {
  padding-left: 1rem;
}
/* Advanced css selectors 

.debug #site_header{
  background-color: red;
  height: 100px;
}

.debug #site_main
{
  background-color: blue;
  height: 600px;
}

.debug #site_footer
{
  background-color: purple;
  height: 200px;
}*/

/* Header */

#site_header
{
  background-color: var(--bool-primary);
  background-image: url("../img/pattern.png");
  background-size: 293px;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.logo
{
  width: 180px;
}

/* Main */

#site_main
{
  padding-left: 0.5rem;
}

h1
{
  font-size: 3rem;
  margin-bottom: 0;
}

.metadata
{
  color: var(--bool-light)
}

.author
{
  text-decoration: none;
  color: var(--bool-primary)
}

.date
{
  font-size: 0.9rem;
}

.images {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.caption {
  font: 0.9rem;
}